<div class="container" fxLayout="row" fxLayoutAlign="center none">

  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <h2></h2>
    </div>

    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <div fxFlex="60%" class="text-center no-records animate">
        <div class="block">
          <div class="row-a">

            <mat-card class="card" id="bonanza-card" routerLink="/bonanza">
              <mat-card-content class="costflow-divider">
              <img src="..\..\..\assets\images\bonanza.png"> 
            </mat-card-content>
          </mat-card>

          <mat-card class="card" id="three-card" routerLink="/301">
            <mat-card-content class="costflow-divider">
              <img src="..\..\..\assets\images\301.png">
            </mat-card-content>
          </mat-card>
        </div>
        <div class="row-a">
          <mat-card class="card" id="cricket-card" routerLink="/games/cricket/options">
            <mat-card-content class="costflow-divider">
              <button class="game-button" (click)="chooseGame('CRICKET')">
              <img src="..\..\..\assets\images\cricket.png">
            </button>  
            </mat-card-content>
          
          </mat-card>
      
          <mat-card class="card" id="blackout-card" routerLink="/blackout">
            <mat-card-content>
              <img src="..\..\..\assets\images\blackout.png">
            </mat-card-content>
          </mat-card>
        </div>
      </div>