.card {

    display: inline-flex;
    /* width: 25%; */
    min-height: 120px;
    border: 6px solid white;
  }
  .card:hover {
    border: 6px solid black;
    color: white;
  }
  
  #bonanza-card{
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #cricket-card{
    border-radius: 30px;
    margin-right: 10px;
    margin-top: 10px;
  }

  #three-card{
    border-radius: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  #blackout-card{
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 10px;
  }

  .block {
    width: 100%;
    margin: 0 auto auto auto;
  }
  
  .row-a {
    margin: 0 auto;
    text-align: center;
  }
  body {
  margin-top: 56px !important;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 150px;
  }
  
  .mat-content {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .game-button{
    border: none;
    background-color: white ;
  }
  
  
  