
<div class="container">
    <div class="cricket-container"></div>
    <div class="cricket-left-side"></div>
    <div class="cricket-left-header">
      <div class="player-turn-div">
        <div class="center-text player-turn-text">{{currentPlayer.firstName}}'s Turn</div>
      </div>
    </div>
    <div class="cricket-left-bottom"></div>
    
    <div class="cricket-left-bottom-stats">
        <div class="current-stat-header">

        </div>
        <div class="current-stat-detail">

        </div>
    </div>
    <div class="cricket-left-bottom-btns">
      <button class="next-player-btn" (click)="onPreviousPlayer()" mat-raised-button color="basic">Previous Player</button>
      <button class="undo-btn" mat-raised-button color="warn">Undo</button>
      <button class="prev-player-btn" (click)="onSkipPlayer()"  mat-raised-button color="basic">Next Player</button>
    </div>
    <div class="cricket-left-bottom-throws">


    </div>

    <div class="cricket-right-side">
       <div class="shade">
        <div class="cricket-right-header">
          <div class="left-team-div">
            <h2 class="chalk-text">{{playerOne.firstName}}</h2>
          </div>
          <div class="middle-round-div">
            <h2 class="chalk-text">Round: {{roundNumber}}</h2>
          </div>
          <div class="right-team-div">
            <h2 class="chalk-text">{{playerTwo.firstName}}</h2>
          </div>
        </div>

        <div class="cricket-right-header">
            <div class="left-team-div left-20">
              <div class="chalk-text-score" [hidden]="firstPlayerGame.twenties!=0"></div>
              <div class="chalk-text-score" [hidden]="firstPlayerGame.twenties!=1">/</div>
              <div class="chalk-text-score" [hidden]="firstPlayerGame.twenties!=2">X</div> 
              <div class="chalk-text-score-x" [hidden]="firstPlayerGame.twenties<3">X</div>
              <div class="chalk-text-score-bull" [hidden]="firstPlayerGame.twenties<3">O</div>
            </div>
            <div class="middle-round-div">
              <h2 class="chalk-text">20</h2>
            </div>
            <div class="right-team-div right-20">
              <div class="chalk-text-score" [hidden]="secondPlayerGame.twenties!=0"></div>
              <div class="chalk-text-score" [hidden]="secondPlayerGame.twenties!=1">/</div>
              <div class="chalk-text-score" [hidden]="secondPlayerGame.twenties!=2">X</div> 
              <div class="chalk-text-score-x" [hidden]="secondPlayerGame.twenties<3">X</div>
              <div class="chalk-text-score-bull" [hidden]="secondPlayerGame.twenties<3">O</div>
            </div>
          </div>

          <div class="cricket-right-header">
            <div class="left-team-div left-20">
              <div class="chalk-text-score" [hidden]="firstPlayerGame.nineteens!=0"></div>
              <div class="chalk-text-score" [hidden]="firstPlayerGame.nineteens!=1">/</div>
              <div class="chalk-text-score" [hidden]="firstPlayerGame.nineteens!=2">X</div> 
              <div class="chalk-text-score-x" [hidden]="firstPlayerGame.nineteens<3">X</div>
              <div class="chalk-text-score-bull" [hidden]="firstPlayerGame.nineteens<3">O</div>
            </div>
            <div class="middle-round-div">
              <h2 class="chalk-text">19</h2>
            </div>
            <div class="right-team-div right-20">
              <div class="chalk-text-score" [hidden]="secondPlayerGame.nineteens!=0"></div>
              <div class="chalk-text-score" [hidden]="secondPlayerGame.nineteens!=1">/</div>
              <div class="chalk-text-score" [hidden]="secondPlayerGame.nineteens!=2">X</div> 
              <div class="chalk-text-score-x" [hidden]="secondPlayerGame.nineteens<3">X</div>
              <div class="chalk-text-score-bull" [hidden]="secondPlayerGame.nineteens<3">O</div>
            </div>
          </div>

          <div class="cricket-right-header">
            <div class="left-team-div">
              <h2 class="chalk-text"></h2>
            </div>
            <div class="middle-round-div">
              <h2 class="chalk-text">18</h2>
            </div>
            <div class="right-team-div">
              <h2 class="chalk-text"></h2>
            </div>
          </div>

          <div class="cricket-right-header">
            <div class="left-team-div">
              <h2 class="chalk-text"></h2>
            </div>
            <div class="middle-round-div">
              <h2 class="chalk-text">17</h2>
            </div>
            <div class="right-team-div">
              <h2 class="chalk-text"></h2>
            </div>
          </div>

          <div class="cricket-right-header">
            <div class="left-team-div">
              <h2 class="chalk-text"></h2>
            </div>
            <div class="middle-round-div">
              <h2 class="chalk-text">16</h2>
            </div>
            <div class="right-team-div">
              <h2 class="chalk-text"></h2>
            </div>
          </div>

          <div class="cricket-right-header">
            <div class="left-team-div">
              <h2 class="chalk-text"></h2>
            </div>
            <div class="middle-round-div">
              <h2 class="chalk-text">15</h2>
            </div>
            <div class="right-team-div">
              <h2 class="chalk-text"></h2>
            </div>
          </div>

          <div class="cricket-right-header">
            <div class="left-team-div">
              <h2 class="chalk-text"></h2>
            </div>
            <div class="middle-round-div">
              <h2 class="chalk-text">Bull</h2>
            </div>
            <div class="right-team-div">
              <h2 class="chalk-text"></h2>
            </div>
          </div>

    </div>  <!-- cricket-right-side -->  
</div>
<link href="https://fonts.cdnfonts.com/css/kg-broken-vessels-sketch" rel="stylesheet">
<link href="https://fonts.cdnfonts.com/css/callie-chalk-font" rel="stylesheet">                
<link href="https://fonts.cdnfonts.com/css/crayon-libre" rel="stylesheet">
                
                
                
                