
.container {  
    height: 94%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;

  }



  .cricket-container { 
    grid-area: 1 / 1 / 9 / 5; 
    
}
  
  .cricket-left-side { 
    grid-area: 1 / 1 / 9 / 2; 
  }
  
  .cricket-left-header { 
    grid-area: 1 / 1 / 2 / 2; 
    
}

.center-text {
    text-align: center;
    z-index: 99;                                          
}

.player-turn-text{
  color: white;
  /* font-family: 'SF Action Man', sans-serif; */
  /* font-family: 'Callie Chalk Font', sans-serif; */
  font-family: 'Komika Display', sans-serif;
  font-size: 30px;
}

.chalk-text {
  font-size: 25px;
    text-align: center;
    z-index: 99;
    font-family: 'Callie Chalk Font', sans-serif;
    color: white;                                           
}
.chalk-text-score {
  font-size: 55px;
  text-align: center;
  z-index: 99;
  /* font-family: 'Crayon Libre', sans-serif; */
  font-family: 'KG Broken Vessels Sketch', sans-serif;
                                                                                            
  /* font-family: 'Creamy Chalk', sans-serif; */
                                                
  /* font-family: 'DJB Chalk It Up', sans-serif;                                      */
  /* font-family: 'Chalktastic', sans-serif; */
    /* font-family: 'KG Broken Vessels Sketch', sans-serif;                                                 */
  color: white;                                           
}

.chalk-text-score-x {
  transform: translateY(10px);
  font-size: 40px;
  text-align: center;
  z-index: 99;
  /* font-family: 'Crayon Libre', sans-serif; */
  font-family: 'KG Broken Vessels Sketch', sans-serif;
                                                                                            
  /* font-family: 'Creamy Chalk', sans-serif; */
                                                
  /* font-family: 'DJB Chalk It Up', sans-serif;                                      */
  /* font-family: 'Chalktastic', sans-serif; */
    /* font-family: 'KG Broken Vessels Sketch', sans-serif;                                                 */
  color: white;                                           
}

.chalk-text-score-bull {
  transform: translateY(-18px);
  font-size: 85px;
  text-align: center;
  z-index: 99;
  /* font-family: 'Crayon Libre', sans-serif; */
  font-family: 'KG Broken Vessels Sketch', sans-serif;
                                                                                            
  /* font-family: 'Creamy Chalk', sans-serif; */
                                                
  /* font-family: 'DJB Chalk It Up', sans-serif;                                      */
  /* font-family: 'Chalktastic', sans-serif; */
    /* font-family: 'KG Broken Vessels Sketch', sans-serif;                                                 */
  color: white;                                           
}
  
  .cricket-left-bottom { 
    grid-area: 2 / 1 / 9 / 2;
}
  
  .cricket-left-bottom-throws { 
    grid-area: 5 / 1 / 9 / 2; 
    /* border: 1px solid lightgrey; */
}
  
  .cricket-left-bottom-stats { 
    grid-area: 2 / 1 / 4 / 2; 
    /* border: 1px solid lightgrey; */
}
  
  .cricket-left-bottom-btns { 
    grid-area: 4 / 1 / 5 / 2; 
    /* border: 1px solid lightgrey; */
}

.cricket-left-bottom-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.action-btn{
  width: 150px;
    margin-left: 20px;
    margin-right: 20px;
}
  
 .shade { 
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient( 150deg, rgba(0, 0, 0, 0.65), transparent);
} 

  .cricket-right-side {
     grid-area: 1 / 2 / 9 / 5;  
     display: flex;
		position: relative;
		width: 94%;
        height: 98%;
		/* margin: 7% auto; */
		border: tan solid 12px;
		border-top: #bda27e solid 12px;
		border-left: #b19876 solid 12px;
		border-bottom: #c9ad86 solid 12px;
		box-shadow: 0px 0px 6px 5px rgba(58, 18, 13, 0), 0px 0px 0px 2px #c2a782, 0px 0px 0px 4px #a58e6f, 3px 4px 8px 5px rgba(0, 0, 0, 0.5);
		background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
		background-color: #333;
}

.cricket-right-side:before {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: linear-gradient( 175deg, transparent, transparent 40px, rgba(120, 120, 120, 0.1) 100px, rgba(120, 120, 120, 0.1) 110px, transparent 220px, transparent), linear-gradient( 200deg, transparent 80%, rgba(50, 50, 50, 0.3)), radial-gradient( ellipse at right bottom, transparent, transparent 200px, rgba(80, 80, 80, 0.1) 260px, rgba(80, 80, 80, 0.1) 320px, transparent 400px, transparent);
		border: #2c2c2c solid 2px;
		/* content: "Contact Us"; */
		font-family: 'Permanent Marker', cursive;
		font-size: 2.2em;
		color: rgba(238, 238, 238, 0.7);
		text-align: center;
		padding-top: 20px;
}
    
  
  .cricket-right-header { 
    display:flex;
    height: 12.5%;
}


  .left-team-div{
    width: 100%;
    border: 1px solid lightgrey;
  }

  .scorebox{
  display: grid;
  grid-template-columns: 1fr;
  }

  .scorebox div{
    grid-row-start: 1;
    grid-column-start: 1;
    }

  .middle-round-div{
    width: 100%;
    border: 1px solid lightgrey;
  }

  .right-team-div{
    width: 100%;
    border: 1px solid lightgrey;
  }

  /* .right-20{
    display: grid;
    grid-template-columns: 1fr;
    }
  
    .right-20 div{
      grid-row-start: 1;
      grid-column-start: 1;
      } */

  