
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<div class="wrapper">
  <div class = "headerwrapper">
    <div class = "headercontainer">
      <h2>Player 1 is up</h2>
    </div>
  </div>
</div>
<div class="wrapper">

  <div class="scorecontainer">

    <div class="btncontainer">
      <h2>Target</h2>
      <div class="btn" id="team1">72</div>
    </div>
    <div id="roundcounter">
      <div id="rounddisplay">
        <p>Round</p>
        <p id="roundnum">12<p>
      </div>
    </div>
    <div class="btncontainer">
      <h2>Score</h2>
      <div class="btn" id="team2">128</div>
    </div>
  </div>
</div>

