table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    margin-top: 10px;
  }
  
  .mat-icon-button {
    min-width: 0; /* Ensure the button doesn't stretch horizontally */
  }

  .table-row {
    height: 14px !important;
    min-height: 14px !important;
  }

  .step-card{
width: 50%;
  }