<div class="navbar-container" [class.example-is-mobile]="mobileQuery.matches">

  <!-- Top navbar -->
  <mat-toolbar class="navbar">
  

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon class="white-text">menu</mat-icon>
    </button>

    <!-- <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home"> -->
      <a class="navbar-brand" matTooltip="Home">
      <h1>
        Settings
      </h1>
    </a>

    <div class="navbar-menu-container">
    <div class="left-menu-container">
      <div class="current-game">
        <span *ngIf="currentUrl==='/games/cricket'">Cricket</span>
      </div>
    <!-- <button class="menu-button" mat-icon-button [matMenuTriggerFor]="settingsMenu">
      Settings
    </button>
    <mat-menu #settingsMenu="matMenu" xPosition="after" yPosition="above" [overlapTrigger]="false">
      <a mat-menu-item>
        <span>You have new tasks</span>
      </a>
      <a mat-menu-item>
        <span>You have a new message</span>
      </a>
    </mat-menu> -->

    <!-- Actions Menu -->
    <!-- <button class="menu-button" mat-icon-button [matMenuTriggerFor]="actionsMenu">
      Actions
    </button>
    <mat-menu #actionsMenu="matMenu" xPosition="after" yPosition="above" [overlapTrigger]="false">
      <a mat-menu-item>
        <span>Show Current</span>
      </a>
      <a mat-menu-item>
        <span>Edit</span>
      </a>
    </mat-menu> -->

    <!-- View Menu -->
    <!-- <button class="menu-button" mat-icon-button [matMenuTriggerFor]="viewMenu">
      View
    </button>
    <mat-menu #viewMenu="matMenu" xPosition="after" yPosition="above" [overlapTrigger]="false">
      <a mat-menu-item>
        <span>View Option 1</span>
      </a>
      <a mat-menu-item>
        <span>View Option 2</span>
      </a>
    </mat-menu> -->

    </div>
 
    </div>

    <!-- <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
      <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <mat-menu #notificationMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item>
        <span>You have new tasks</span>
      </a>
      <a mat-menu-item>
        <span>You have a new message</span>
      </a>

    </mat-menu> -->

    <a mat-menu-item [routerLink]="['/']">
      <mat-icon class="white-text">exit_to_app</mat-icon>
      <span class="white-text">
        Exit
      </span>
    </a>

    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon class="white-text">person</mat-icon>
      <span class="white-text" fxShow fxHide.xs>
        {{userName}}
      </span>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

      <a mat-menu-item [routerLink]="['/account/profile']">
        <mat-icon>person</mat-icon>
        <span>Account</span>
      </a>

      <a mat-menu-item [routerLink]="['/auth/login']">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </a>

    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="navbar-sidenav-container">
    <!-- Side nav -->
    <mat-sidenav #snav [opened]="!mobileQuery.matches" [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="sidenav">

      <mat-nav-list>

        <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active" >
          <mat-icon mat-list-icon>
            games
          </mat-icon>
          <p mat-line> Games </p>
        </a>

        <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            settings
          </mat-icon>
          <p mat-line> User Admin </p>
        </a>

        <a mat-list-item [routerLink]="['/stats']" routerLinkActive="active">
          <mat-icon mat-list-icon>
            info
          </mat-icon>
          <p mat-line> Stats </p>
        </a>


        <a mat-list-item [routerLink]="['/account/profile']">
          <mat-icon mat-list-icon>person</mat-icon>
          <p mat-line> Account </p>
        </a>

        <a mat-list-item [routerLink]="['/auth/login']">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          <p mat-line> Log out </p>
        </a>

        <mat-divider></mat-divider>

      </mat-nav-list> 

    </mat-sidenav>

    <!-- Main content -->
    <mat-sidenav-content class="sidenav-content">

      <div class="progress-bar-container">
        <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
        </mat-progress-bar>
        <!-- <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner> -->
      </div>


      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
<link href="https://fonts.cdnfonts.com/css/komika-display-kaps-wide" rel="stylesheet">